name: Build APK

on:
  push:
    branches: [ main, master ]  # При пуше в main или master запускается сборка
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4  # Загружаем код из репозитория

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-dev build-essential libffi-dev libssl-dev
        pip3 install --upgrade pip
        pip3 install buildozer cython

    - name: Setup Buildozer
      run: |
        python3 -c "import os; print('Buildozer version:', __import__('buildozer').__version__)"
        # Проверим, что buildozer.spec есть
        ls -la buildozer.spec

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: beta-apk
        path: bin/*.apk  # buildozer кладёт APK в bin/
    - name: Set up Android SDK
      run: |
        SDK_MANAGER="$HOME/.buildozer/android/platform/android-sdk/cmdline-tools/latest/bin/sdkmanager"
        mkdir -p "$HOME/.android" && touch "$HOME/.android/repositories.cfg"
        
        mkdir -p "$ANDROID_HOME/licenses"
        echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
        echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"

        yes | $SDK_MANAGER "platforms;android-34" "build-tools;34.0.0"

    - name: Build APK
      run: |
       buildozer android debug
